In [1]:
import numpy as np
import pandas as pd

In [2]:
import random
 
number = random.randint(0,99)
 
while(True):
    guess=int(input("Guess number"))
    if(guess<number):
        print("Your Guess is lower than number!")
    elif(guess>number):
        print("Your Guess is higher than number!")
    else:
        print("You guessed correctly")
        break

Your Guess: 120
Wrong Guess! But You are close

In [17]:
code = int(input('Enter a 3 digit number for the locker: '))
iterator = range(0, 9)
for i in iterator:
    for j in iterator:
        for k in iterator:
            check = i*100 + j*10 + k
            if check == code:
                print(f'Your code is: {check}')
                break

Enter a 3 digit number for the locker: 234
Your code is: 234

In [18]:
code = int(input('Enter a 3 digit number for the locker: '))
for i in range(0, 999):
    if i == code:
        print(f'Your code is: {i}')
        break

Enter a 3 digit number for the locker: 123
Your code is: 123

In [19]:
import sys
import cProfile

In [20]:
x = 6

In [21]:
def example():
    print(x)
    z=5
    print(z)

In [22]:
example()

6
5

In [25]:
#error
x = 6
def example2():
    print(x)
    print(x+5)
    x+=6

In [26]:
example2()

UnboundLocalError: local variable 'x' referenced before assignment

In [27]:
x = 6
def example2_1():
    print(x)
    print(x+5)
example2_1()

6
11

In [28]:
#not recommended
x = 6
def example3():
    global x
    print(x)
    x+=5
    print(x)

In [29]:
example3()

6
11

In [30]:
x = 6
def example4():
    globx = x
    print(globx)
    globx+=5
    print(globx)

In [31]:
example4()

6
11

In [33]:
x=6
def example(x):
    print(x)
    x+=5
    print(x)
    return x

In [34]:
example(1)

1
6

6

In [ ]:
#error handling

In [35]:
#zero division error
print(1/0)

ZeroDivisionError: division by zero

In [36]:
#Syntax error due to extra bracket
print("True"))

SyntaxError: unmatched ')' (<ipython-input-36-e1e3c3889b7f>, line 1)

In [37]:
#User defined exception
x=10
if x>5:
    raise Exception('x should not exceed 5. The value of x was: {}'.format(x))

Exception: x should not exceed 5. The value of x was: 10

In [39]:
x=4
if x>5:
    raise Exception('x should not exceed 5. The value of x was: {}'.format(x))

In [41]:
#assertion error similar to exception
x=4
assert(x>5), "This value is not more than 5."

AssertionError: This value is not more than 5.

In [45]:
x=6
assert(x>5), "This value is more than 5."

In [46]:
#try pass hence no error is thrown for 1/0 
try:
    print(1/0)
except:
    pass

In [47]:
try:
    print(1/0)
except:
    print("Error but proceed")

Error but proceed

In [48]:
#run successfully
try:
    print(1/0)
except ZeroDivisionError:
    pass

In [49]:
#Throws error since ZeroDivisionError was not present in except 
try:
    print(1/0)
except SyntaxError:
    pass

ZeroDivisionError: division by zero

In [50]:
#open('abc.xlsx')
try:
    open('abc.xlsx')
except FileNotFoundError:
    print('Log not found')

Log not found

In [51]:
try:
    1/0
except ZeroDivisionError:
    print('Zero in denominator')
else:
    print('Zero not in denominator')
finally:
    print('This will print always')

Zero in denominator
This will print always

In [52]:
try:
    1/1
except ZeroDivisionError:
    print('Zero in denominator')
else:
    print('Zero not in denominator')
finally:
    print('This will print always')

Zero not in denominator
This will print always

In [54]:
#same as function but in function after return nothing is printed it exits the code but in generators we can yield multiple o/p's
def simple_gen():
    yield 'Hey'
    yield 'Hello'
    yield 'There'

In [55]:
simple_gen()

In [57]:
for i in simple_gen():
    print(i)

Hey
Hello
There

In [58]:
list(simple_gen())

['Hey', 'Hello', 'There']

In [59]:
def my_gen(x):
    while(x>0):
        if x%2==0:
            yield 'Even'
        else:
            yield 'Odd'
        x-=1

In [60]:
for i in my_gen(9):
    print(i)

Odd
Even
Odd
Even
Odd
Even
Odd
Even
Odd

In [61]:
list(my_gen(9))

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [63]:
l = [1,3,4,5,7]

In [64]:
#generator
(x**2 for x in l)

In [65]:
list((x**2 for x in l))

[1, 9, 16, 25, 49]

In [66]:
[x**2 for x in l]

[1, 9, 16, 25, 49]

In [68]:
#size of generator
sys.getsizeof((x**2 for x in l))

112

In [69]:
#size of list
sys.getsizeof([x**2 for x in l])

120

In [70]:
#generator is efficient for storing in memory but if we need to perform computations then we need to use list
l= range(100000)

In [71]:
#size of generator
sys.getsizeof((x**2 for x in l))

112

In [72]:
#size of list. It consumes more memory for large number of data points
sys.getsizeof([x**2 for x in l])

824456

In [73]:
#list is faster duration wise but not memory wise
cProfile.run('sum([i * 2 for i in range(10000)])')

         5 function calls in 0.002 seconds

   Ordered by: standard name

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.001    0.001    0.001    0.001 <string>:1(<listcomp>)
        1    0.000    0.000    0.002    0.002 <string>:1(<module>)
        1    0.000    0.000    0.002    0.002 {built-in method builtins.exec}
        1    0.000    0.000    0.000    0.000 {built-in method builtins.sum}
        1    0.000    0.000    0.000    0.000 {method 'disable' of '_lsprof.Profiler' objects}

In [74]:
cProfile.run('sum((i * 2 for i in range(10000)))')

         10005 function calls in 0.002 seconds

   Ordered by: standard name

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
    10001    0.001    0.000    0.001    0.000 <string>:1(<genexpr>)
        1    0.000    0.000    0.002    0.002 <string>:1(<module>)
        1    0.000    0.000    0.002    0.002 {built-in method builtins.exec}
        1    0.001    0.001    0.002    0.002 {built-in method builtins.sum}
        1    0.000    0.000    0.000    0.000 {method 'disable' of '_lsprof.Profiler' objects}

In [ ]:
#if too much data is there then go on with the generator rather than list

In [75]:
l = [1,4,7,8,9]

In [76]:
a = (x**2 for x in l)
next(a)

1

In [77]:
#or a.__next__()
next(a)

16

In [79]:
next(a)

49

In [80]:
next(a)

64

In [81]:
next(a)

81

In [82]:
#all elements in list are over than stop iteration error occurs
next(a)

StopIteration:

In [83]:
letters = ["a","b","c","d"]

In [84]:
it = iter(letters)

In [85]:
while True:
    try: 
        letter = next(it)
    except StopIteration:
        break
    print(letter)

a
b
c
d

In [86]:
#3 digit locker code 
correct = (3,6,1)
def combo_gen():
    for c1 in range(10):
        for c2 in range(10):
            for c3 in range(10):
                yield(c1,c2,c3)

In [87]:
for (c1,c2,c3) in combo_gen():
    print(c1,c2,c3)
    if(c1,c2,c3) == correct:
        print('Found the combo:{}'.format((c1,c2,c3)))
        break

0 0 0
0 0 1
0 0 2
0 0 3
0 0 4
0 0 5
0 0 6
0 0 7
0 0 8
0 0 9
0 1 0
0 1 1
0 1 2
0 1 3
0 1 4
0 1 5
0 1 6
0 1 7
0 1 8
0 1 9
0 2 0
0 2 1
0 2 2
0 2 3
0 2 4
0 2 5
0 2 6
0 2 7
0 2 8
0 2 9
0 3 0
0 3 1
0 3 2
0 3 3
0 3 4
0 3 5
0 3 6
0 3 7
0 3 8
0 3 9
0 4 0
0 4 1
0 4 2
0 4 3
0 4 4
0 4 5
0 4 6
0 4 7
0 4 8
0 4 9
0 5 0
0 5 1
0 5 2
0 5 3
0 5 4
0 5 5
0 5 6
0 5 7
0 5 8
0 5 9
0 6 0
0 6 1
0 6 2
0 6 3
0 6 4
0 6 5
0 6 6
0 6 7
0 6 8
0 6 9
0 7 0
0 7 1
0 7 2
0 7 3
0 7 4
0 7 5
0 7 6
0 7 7
0 7 8
0 7 9
0 8 0
0 8 1
0 8 2
0 8 3
0 8 4
0 8 5
0 8 6
0 8 7
0 8 8
0 8 9
0 9 0
0 9 1
0 9 2
0 9 3
0 9 4
0 9 5
0 9 6
0 9 7
0 9 8
0 9 9
1 0 0
1 0 1
1 0 2
1 0 3
1 0 4
1 0 5
1 0 6
1 0 7
1 0 8
1 0 9
1 1 0
1 1 1
1 1 2
1 1 3
1 1 4
1 1 5
1 1 6
1 1 7
1 1 8
1 1 9
1 2 0
1 2 1
1 2 2
1 2 3
1 2 4
1 2 5
1 2 6
1 2 7
1 2 8
1 2 9
1 3 0
1 3 1
1 3 2
1 3 3
1 3 4
1 3 5
1 3 6
1 3 7
1 3 8
1 3 9
1 4 0
1 4 1
1 4 2
1 4 3
1 4 4
1 4 5
1 4 6
1 4 7
1 4 8
1 4 9
1 5 0
1 5 1
1 5 2
1 5 3
1 5 4
1 5 5
1 5 6
1 5 7
1 5 8
1 5 9
1 6 0
1 6 1
1 6 2
1 6 3
1 6 4
1 6 5
1 6 6
1 6 7
1 6 8
1 6 9
1 7 0
1 7 1
1 7 2
1 7 3
1 7 4
1 7 5
1 7 6
1 7 7
1 7 8
1 7 9
1 8 0
1 8 1
1 8 2
1 8 3
1 8 4
1 8 5
1 8 6
1 8 7
1 8 8
1 8 9
1 9 0
1 9 1
1 9 2
1 9 3
1 9 4
1 9 5
1 9 6
1 9 7
1 9 8
1 9 9
2 0 0
2 0 1
2 0 2
2 0 3
2 0 4
2 0 5
2 0 6
2 0 7
2 0 8
2 0 9
2 1 0
2 1 1
2 1 2
2 1 3
2 1 4
2 1 5
2 1 6
2 1 7
2 1 8
2 1 9
2 2 0
2 2 1
2 2 2
2 2 3
2 2 4
2 2 5
2 2 6
2 2 7
2 2 8
2 2 9
2 3 0
2 3 1
2 3 2
2 3 3
2 3 4
2 3 5
2 3 6
2 3 7
2 3 8
2 3 9
2 4 0
2 4 1
2 4 2
2 4 3
2 4 4
2 4 5
2 4 6
2 4 7
2 4 8
2 4 9
2 5 0
2 5 1
2 5 2
2 5 3
2 5 4
2 5 5
2 5 6
2 5 7
2 5 8
2 5 9
2 6 0
2 6 1
2 6 2
2 6 3
2 6 4
2 6 5
2 6 6
2 6 7
2 6 8
2 6 9
2 7 0
2 7 1
2 7 2
2 7 3
2 7 4
2 7 5
2 7 6
2 7 7
2 7 8
2 7 9
2 8 0
2 8 1
2 8 2
2 8 3
2 8 4
2 8 5
2 8 6
2 8 7
2 8 8
2 8 9
2 9 0
2 9 1
2 9 2
2 9 3
2 9 4
2 9 5
2 9 6
2 9 7
2 9 8
2 9 9
3 0 0
3 0 1
3 0 2
3 0 3
3 0 4
3 0 5
3 0 6
3 0 7
3 0 8
3 0 9
3 1 0
3 1 1
3 1 2
3 1 3
3 1 4
3 1 5
3 1 6
3 1 7
3 1 8
3 1 9
3 2 0
3 2 1
3 2 2
3 2 3
3 2 4
3 2 5
3 2 6
3 2 7
3 2 8
3 2 9
3 3 0
3 3 1
3 3 2
3 3 3
3 3 4
3 3 5
3 3 6
3 3 7
3 3 8
3 3 9
3 4 0
3 4 1
3 4 2
3 4 3
3 4 4
3 4 5
3 4 6
3 4 7
3 4 8
3 4 9
3 5 0
3 5 1
3 5 2
3 5 3
3 5 4
3 5 5
3 5 6
3 5 7
3 5 8
3 5 9
3 6 0
3 6 1
Found the combo:(3, 6, 1)

In [88]:
#class in python
class Dog:
    pass

In [89]:
#class dog created in main environment
Dog()

In [94]:
class Dog:
    #initializers
    def __init__(self,name,age):
        self.name = name
        self.age = age

In [101]:
m = Dog('Matt',6)

In [98]:
m.name

'Matt'

In [97]:
m.age

6

In [99]:
class Dog:
    #class attribute
    species = 'mammal'
    #initializer
    def __init__(self,name,age):
        self.name = name
        self.age = age

In [103]:
m = Dog('Matt',6)

In [104]:
m.species

'mammal'

In [106]:
jake = Dog('Jake',7)

In [107]:
doug = Dog('Doug',8)

In [105]:
def get_biggest_number(*args):
    return max(args)

In [109]:
get_biggest_number(m.age,jake.age,doug.age)

8

In [110]:
class Dog:
    #class attribute
    species = 'mammal'
    #initializer
    def __init__(self,name,age):
        self.name = name
        self.age = age 
    #instance method
    def description(self):
        return "{} is {} years old".format(self.name,self.age)
    #instance method
    def speak(self,sound):
        return "{} says {}".format(self.name,sound)

In [111]:
mikey = Dog("Mikey",6)

In [112]:
mikey.description()

'Mikey is 6 years old'

In [113]:
mikey.speak('Gruff Gruff')

'Mikey says Gruff Gruff'

In [114]:
class Dog:
    #class attribute
    species = 'mammal'
    #initializer
    def __init__(self,name,age):
        self.name = name
        self.age = age 
    #instance method
    def description(self):
        return "{} is {} years old".format(self.name,self.age)
    #instance method
    def speak(self,sound):
        return "{} says {}".format(self.name,sound)
    def cname(self,newname):
        self.name = newname

In [115]:
mikey = Dog("Mikey",6)

In [116]:
print(mikey.description())

Mikey is 6 years old

In [117]:
mikey.cname('Mikie')

In [118]:
print(mikey.description())

Mikie is 6 years old

In [121]:
class Dog:
    #class attribute
    species = 'mammal'
    #initializer
    def __init__(self,name,age):
        self.name = name
        self.age = age 
    #instance method
    def description(self):
        return "{} is {} years old".format(self.name,self.age)
    #instance method
    def speak(self,sound):
        return "{} says {}".format(self.name,sound)

#child class inherits from dog class
class RussellTerrier(Dog):
    def dogtype(self):
        return "{} is a Russel Terrier".format(self.name)
    def run(self,speed):
        return "{} runs {}".format(self.name,speed)
    
class Bulldog(Dog):
    def dogtype(self):
        return "{} is a Bull DOg".format(self.name)
    def run(self,speed):
        return "{} runs {}".format(self.name,speed)

In [122]:
jim = Bulldog("Jim",12)

In [123]:
jim.dogtype()

'Jim is a Bull DOg'

In [124]:
print(jim.description())

Jim is 12 years old

In [125]:
print(isinstance(jim,Dog))

True

In [126]:
print(isinstance(jim,Bulldog))

True

In [127]:
m = Dog('Matt',6)

In [129]:
print(isinstance(m,Dog))

True

In [130]:
print(isinstance(m,Bulldog))

False

In [133]:
class Person:
    def __init__(self,name,surname,birthdate,address,telephone,email):
        self.name = name
        self.surname = surname
        self.birthdate = birthdate
        self.address = address
        self.telephone = telephone
        self.email = email
    def fullname(self):
        return "%s %s"%(self.name,self.surname)
    def __str__(self):
        return "%s %s,born %s\nAddress: %s\nTelephone: %s\nEmail:%s" %(self.name,self.surname,self.birthdate,self.address,self.telephone,self.email)

In [135]:
import datetime

In [136]:
jane = Person("Jane","Doe",datetime.date(1992,3,12),"KK","123 445 678","jane.doe@gmail.com")

In [137]:
print(jane)

Jane Doe,born 1992-03-12
Address: KK
Telephone: 123 445 678
Email:jane.doe@gmail.com

In [138]:
str(jane)

'Jane Doe,born 1992-03-12\nAddress: KK\nTelephone: 123 445 678\nEmail:jane.doe@gmail.com'

In [139]:
jane.fullname()

'Jane Doe'

In [164]:
class Person:
    def __init__(self,name,surname,birthdate,address,telephone,email):
        self.name = name
        self.surname = surname
        self.birthdate = birthdate
        self.address = address
        self.telephone = telephone
        self.email = email
    def fullname(self):
        return "%s %s"%(self.name,self.surname)
    def __str__(self):
        return "%s %s,born %s\nAddress: %s\nTelephone: %s\nEmail:%s" %(self.name,self.surname,self.birthdate,self.address,self.telephone,self.email)

class Professor(Person):
    def subject(self,subject):
        return "%s teaches %s" %(self.name,subject)

class Student(Person):
    def marks(self,marks):
        return "%s scored %s" %(self.name,marks)

In [165]:
jane = Student("Jane","Doe",datetime.date(1992,3,12),"KK","123 445 678","jane.doe@gmail.com")

In [166]:
print(jane.name)

Jane

In [168]:
jane.marks(80)

'Jane scored 80'

In [171]:
john = Professor("John","Doe",datetime.date(1982,3,12),"KK","123 445 679","john.doe@gmail.com")

In [172]:
print(john.name)

John

In [173]:
john.subject("Chemistry")

'John teaches Chemistry'

In [155]:
print(isinstance(jane,Person))

True

In [156]:
print(isinstance(jane,Student))

True

In [157]:
print(isinstance(john,Person))

True

In [158]:
print(isinstance(john,Professor))

True

In [183]:
class Pizza:
    def __init__(self,ingredients):
        self.ingredients = ingredients
    #object representation method    
    def __repr__(self):
        return f'Pizza({self.ingredients!r})'
    @classmethod
    def margharita(cls):
        return cls(['moz','tomatoes'])
    @classmethod
    def prosciutto(cls):
        return cls(['moz','tomatoes','ham'])

In [184]:
Pizza.margharita()

Pizza(['moz', 'tomatoes'])

In [185]:
veggie = Pizza(['onion','mushroom'])
repr(veggie)

"Pizza(['onion', 'mushroom'])"

In [186]:
veggie.ingredients

['onion', 'mushroom']

In [191]:
#import datetime
today = datetime.datetime.now()
print(str(today))

2021-01-30 11:28:05.107318

In [192]:
import math

In [199]:
class Pizza:
    def __init__(self,radius,ingredients):
        self.radius = radius
        self.ingredients = ingredients
    #object representation method    
    def __repr__(self):
        return (f'Pizza({self.radius!r}',f'{self.ingredients!r})')
    
    def area(self):
        return self.circle_area(self.radius)
    
    @staticmethod
    def circle_area(r):
        return r ** 2 * math.pi

In [200]:
p = Pizza(4,['moz','tomatoes'])

In [201]:
p.area()

50.26548245743669

In [204]:
p.circle_area(4)

50.26548245743669

In [205]:
Pizza.circle_area(5)

78.53981633974483

In [ ]:
#datetime

In [206]:
#more specific date with time
d = datetime.datetime.now()
print(d)

2021-01-30 11:36:02.740208

In [207]:
#general only today's date
d = datetime.date.today()
print(d)

2021-01-30

In [208]:
dir(datetime)

['MAXYEAR',
 'MINYEAR',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

In [210]:
d = datetime.date(2019,4,3)
print(d)

2019-04-03

In [212]:
d.month

4

In [213]:
d.day

3

In [214]:
d.year

2019

In [215]:
from datetime import time
a = time()
print("a=", a)

a= 00:00:00

In [216]:
b = time(11,34,56)
print("b=", b)

b= 11:34:56

In [217]:
c = time(hour = 11, minute = 34, second = 56)
print("c=", c)

c= 11:34:56

In [ ]:
#from datetime import datetime if both datetime is req
#from datetime import date if date is req
#from datetime import time if time is req

In [221]:
import pandas as pd

In [223]:
a = pd.to_datetime('4th of July 2019')
print(a)

2019-07-04 00:00:00

In [224]:
a = pd.to_datetime('12.01.2019')
print(a)

2019-12-01 00:00:00

In [225]:
a = pd.to_datetime('12/01/2019')
print(a)

2019-12-01 00:00:00

In [226]:
a = pd.to_datetime('12-Jan-2019')
print(a)

2019-01-12 00:00:00

In [227]:
a = pd.to_datetime('12Jan2019')
print(a)

2019-01-12 00:00:00

In [237]:
a = pd.to_datetime('12-1-2019',dayfirst=True)
print(a)
a.month

2019-01-12 00:00:00

1

In [238]:
a = pd.to_datetime('12-1-2019',dayfirst=False)
print(a)
a.month

2019-12-01 00:00:00

12

In [233]:
a = pd.date_range(start='2017-01-01',end='2018-01-01')
print(a)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
               '2017-01-09', '2017-01-10',
               ...
               '2017-12-23', '2017-12-24', '2017-12-25', '2017-12-26',
               '2017-12-27', '2017-12-28', '2017-12-29', '2017-12-30',
               '2017-12-31', '2018-01-01'],
              dtype='datetime64[ns]', length=366, freq='D')

In [234]:
a = pd.date_range(start='2017-01-01',end='2018-01-01',freq='M')
print(a)

DatetimeIndex(['2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31'],
              dtype='datetime64[ns]', freq='M')

In [235]:
a = pd.date_range(start='2017-01-01',periods=6,freq='M')
print(a)

DatetimeIndex(['2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30'],
              dtype='datetime64[ns]', freq='M')

In [239]:
now = datetime.datetime.now()
t = now.strftime("%H:%M:%S")
print("time:",t)

time: 12:06:58

In [240]:
df1 = pd.read_excel(r'gapminder_full.xlsx',sheet_name='data1',index_col='index')
df2 = pd.read_excel(r'gapminder_full.xlsx',sheet_name=1,index_col=0)

In [243]:
df_map= pd.read_csv('mapping.csv')

In [244]:
col=['life exp','country']

In [245]:
df1[col]

       life exp      country
index
1001     28.801  Afghanistan
1002        NaN  Afghanistan
1003     31.997  Afghanistan
1004     34.020  Afghanistan
1005     36.088  Afghanistan
...         ...          ...
1559     45.580       Gambia
1560     49.265       Gambia
1561     52.644       Gambia
1562     55.861       Gambia
1563     58.041       Gambia

[563 rows x 2 columns]

In [246]:
df1[['life exp','country']]

       life exp      country
index
1001     28.801  Afghanistan
1002        NaN  Afghanistan
1003     31.997  Afghanistan
1004     34.020  Afghanistan
1005     36.088  Afghanistan
...         ...          ...
1559     45.580       Gambia
1560     49.265       Gambia
1561     52.644       Gambia
1562     55.861       Gambia
1563     58.041       Gambia

[563 rows x 2 columns]

In [247]:
#copy to clipboard so that it can be pasted anywhere
df1[['life exp','country']].to_clipboard()

In [248]:
#data for spcecific row and specific column by using column names
df1.loc[1003,'country']

'Afghanistan'

In [249]:
df1.loc[1003,['country','year','life exp']]

country     Afghanistan
year               1962
life exp         31.997
Name: 1003, dtype: object

In [250]:
df1.loc[[1003,1045],['country','year','life exp']]

           country  year  life exp
index
1003   Afghanistan  1962    31.997
1045        Angola  1992    40.647

In [252]:
df1.loc[1003:1045,['country','year','life exp']]

           country  year  life exp
index
1003   Afghanistan  1962    31.997
1004   Afghanistan  1967    34.020
1005   Afghanistan  1972    36.088
1006   Afghanistan  1977    38.438
1007   Afghanistan  1982    39.854
1008   Afghanistan  1987    40.822
1009   Afghanistan  1992    41.674
1010   Afghanistan  1997    41.763
1011   Afghanistan  2002    42.129
1012   Afghanistan  2007    43.828
1013       Albania  1952    55.230
1014       Albania  1957    59.280
1015       Albania  1962    64.820
1016       Albania  1967    66.220
1017       Albania  1972    67.690
1018       Albania  1977    68.930
1019       Albania  1982    70.420
1020       Albania  1987    72.000
1021       Albania  1992    71.581
1022       Albania  1997    72.950
1023       Albania  2002    75.651
1024       Albania  2007    76.423
1025       Algeria  1952    43.077
1026       Algeria  1957    45.685
1027       Algeria  1962    48.303
1028       Algeria  1967    51.407
1029       Algeria  1972    54.518
1030       Algeria  1977    58.014
1031       Algeria  1982    61.368
1032       Algeria  1987    65.799
1033       Algeria  1992    67.744
1034       Algeria  1997    69.152
1035       Algeria  2002    70.994
1036       Algeria  2007    72.301
1037        Angola  1952    30.015
1038        Angola  1957    31.999
1039        Angola  1962    34.000
1040        Angola  1967    35.985
1041        Angola  1972    37.928
1042        Angola  1977    39.483
1043        Angola  1982    39.942
1044        Angola  1987    39.906
1045        Angola  1992    40.647

In [253]:
df1.loc[1003:1045,'country':'life exp']

           country  year  population  life exp
index
1003   Afghanistan  1962  10267083.0    31.997
1004   Afghanistan  1967  11537966.0    34.020
1005   Afghanistan  1972  13079460.0    36.088
1006   Afghanistan  1977  14880372.0    38.438
1007   Afghanistan  1982         NaN    39.854
1008   Afghanistan  1987  13867957.0    40.822
1009   Afghanistan  1992  16317921.0    41.674
1010   Afghanistan  1997  22227415.0    41.763
1011   Afghanistan  2002  25268405.0    42.129
1012   Afghanistan  2007  31889923.0    43.828
1013       Albania  1952   1282697.0    55.230
1014       Albania  1957   1476505.0    59.280
1015       Albania  1962   1728137.0    64.820
1016       Albania  1967   1984060.0    66.220
1017       Albania  1972   2263554.0    67.690
1018       Albania  1977   2509048.0    68.930
1019       Albania  1982   2780097.0    70.420
1020       Albania  1987   3075321.0    72.000
1021       Albania  1992   3326498.0    71.581
1022       Albania  1997   3428038.0    72.950
1023       Albania  2002   3508512.0    75.651
1024       Albania  2007   3600523.0    76.423
1025       Algeria  1952   9279525.0    43.077
1026       Algeria  1957  10270856.0    45.685
1027       Algeria  1962  11000948.0    48.303
1028       Algeria  1967  12760499.0    51.407
1029       Algeria  1972  14760787.0    54.518
1030       Algeria  1977  17152804.0    58.014
1031       Algeria  1982  20033753.0    61.368
1032       Algeria  1987  23254956.0    65.799
1033       Algeria  1992  26298373.0    67.744
1034       Algeria  1997  29072015.0    69.152
1035       Algeria  2002  31287142.0    70.994
1036       Algeria  2007  33333216.0    72.301
1037        Angola  1952   4232095.0    30.015
1038        Angola  1957   4561361.0    31.999
1039        Angola  1962   4826015.0    34.000
1040        Angola  1967   5247469.0    35.985
1041        Angola  1972   5894858.0    37.928
1042        Angola  1977   6162675.0    39.483
1043        Angola  1982   7016384.0    39.942
1044        Angola  1987   7874230.0    39.906
1045        Angola  1992   8735988.0    40.647

In [254]:
#location by index or integers
df1.iloc[3,0]

'Afghanistan'

In [255]:
df1.iloc[3:9,0:2]

           country  year
index
1004   Afghanistan  1967
1005   Afghanistan  1972
1006   Afghanistan  1977
1007   Afghanistan  1982
1008   Afghanistan  1987
1009   Afghanistan  1992

In [256]:
df1.iloc[:,0:2]

           country  year
index
1001   Afghanistan  1952
1002   Afghanistan  1957
1003   Afghanistan  1962
1004   Afghanistan  1967
1005   Afghanistan  1972
...            ...   ...
1559        Gambia  1982
1560        Gambia  1987
1561        Gambia  1992
1562        Gambia  1997
1563        Gambia  2002

[563 rows x 2 columns]

In [257]:
df1['life exp'][1003]

31.997

In [258]:
df1['life exp'][1030]

58.014

In [259]:
df1.loc[1030,'life exp']

58.014

In [264]:
df1.iloc[29,3]

58.014

In [265]:
#append data means add dataframe to end of another dataframe vertically i.e df2 below df1 if columns are different a new column is created
df = df1.append(df2)

#or  df = pd.concat([df1,df2],axis=0) can be done vertically or horizontally axis = 0 row level and axis = 1 column level

In [267]:
#index column in dataframe is reset as seperate column
df = df.reset_index()

In [ ]:
#deletes df1 df2 to free up memory
del df1
del df2

In [269]:
df_map.head()

    country:continent
0    Afghanistan:Asia
1      Albania:Europe
2      Algeria:Africa
3       Angola:Africa
4  Argentina:Americas

In [270]:
"Hi hello".split(" ")[0]

'Hi'

In [271]:
"Hi hello".split(" ")[1]

'hello'

In [272]:
"Hi hello".split(" ")

['Hi', 'hello']

In [273]:
df_map['country'] = df_map.iloc[:,0].map(lambda x:x.split(':')[0])
df_map['continent'] = df_map.iloc[:,0].map(lambda x:x.split(':')[1])

In [274]:
df_map.head()

    country:continent      country continent
0    Afghanistan:Asia  Afghanistan      Asia
1      Albania:Europe      Albania    Europe
2      Algeria:Africa      Algeria    Africa
3       Angola:Africa       Angola    Africa
4  Argentina:Americas    Argentina  Americas

In [275]:
del df_map['country:continent']
df_map.head()

       country continent
0  Afghanistan      Asia
1      Albania    Europe
2      Algeria    Africa
3       Angola    Africa
4    Argentina  Americas

In [279]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1705 entries, 0 to 1704
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       1705 non-null   object
 1   country     1705 non-null   object
 2   year        1705 non-null   object
 3   population  1670 non-null   object
 4   life exp    1688 non-null   object
 5   gdp_cap     1700 non-null   object
dtypes: object(6)
memory usage: 80.0+ KB

In [280]:
df.shape

(1705, 6)

In [281]:
df_map.shape

(142, 2)

In [282]:
df = pd.merge(df_map,df,on='country',how='left')
df.head()

       country continent index  year   population life exp  gdp_cap
0  Afghanistan      Asia  1001  1952  8.42533e+06   28.801  779.445
1  Afghanistan      Asia  1002  1957  9.24093e+06      NaN  820.853
2  Afghanistan      Asia  1003  1962  1.02671e+07   31.997  853.101
3  Afghanistan      Asia  1004  1967   1.1538e+07    34.02  836.197
4  Afghanistan      Asia  1005  1972  1.30795e+07   36.088  739.981

In [283]:
df1 = pd.merge(df_map,df,on='country',how='right')
df1.head()

,country,continent_x,continent_y,index,year,population,life exp,gdp_cap
0,Afghanistan,Asia,Asia,1001,1952,8.42533e+06,28.801,779.445
1,Afghanistan,Asia,Asia,1002,1957,9.24093e+06,NaN,820.853
2,Afghanistan,Asia,Asia,1003,1962,1.02671e+07,31.997,853.101
3,Afghanistan,Asia,Asia,1004,1967,1.1538e+07,34.02,836.197
4,Afghanistan,Asia,Asia,1005,1972,1.30795e+07,36.088,739.981

In [284]:
df = df.set_index('index')

In [285]:
#save status of the notebook
df.to_pickle('final_data.pkl')

In [ ]:
df1 = pd.read_pickle('final_data.pkl')