In [1]:
print("Hello World")

Hello World

In [3]:
5*9

45

In [2]:
10-15
5*9

45

In [4]:
print(4**4)

256

In [5]:
5>7

False

In [6]:
5<7

True

In [7]:
print("can do this")

can do this

In [8]:
print('can do this')

can do this

In [9]:
print("can't do this")

can't do this

In [10]:
print("you'll be able to  do this")

you'll be able to  do this

In [11]:
print('you\'ll be able to do this as well')

you'll be able to do this as well

In [12]:
#variable

In [13]:
a = 10

In [14]:
a

10

In [15]:
a="hey"
print(a)

hey

In [16]:
b = 5/4
print(b)

1.25

In [17]:
type(a)

str

In [18]:
type(b)

float

In [19]:
c = 5>8
type(c)

bool

In [20]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [22]:
print('2 * 4 is',2*4,"!",sep=":")
print('2 * 4 is',2*4,"!",sep="-")
print('2 * 4 is',2*4,"!",sep="=")

2 * 4 is:8:!
2 * 4 is-8-!
2 * 4 is=8=!

In [23]:
print('this\nis\nmultiline')

this
is
multiline

In [24]:
a = """This is multiline
second line
third line
"""

In [25]:
a

'This is multiline\nsecond line\nthird line\n'

In [26]:
print(a)

This is multiline
second line
third line

In [27]:
a = "three"

In [29]:
print("one","two",a)

one two three

In [32]:
print("one"+"two"+a)
print("one"+" two "+ a)

onetwothree
one two three

In [33]:
print('This is text {0} {1} {2}'.format('Hello','World','!'))

This is text Hello World !

In [35]:
print('Hi my name is {name}, id is {id}, and I am doing {course}'.format(name='Vivek',id=1,course='MTech DS'))

Hi my name is Vivek, id is 1, and I am doing MTech DS

In [44]:
print("ID:{0:4d}, Percentage:{1:4.6f}%".format(12,75.5665))
print("ID:{0:4d}, Percentage:{1:1.2f}%".format(112,45.5665))
print("ID:{0:d}, Percentage:{1:4.6f}%".format(125,75.5665))
print("ID:{0:d}, Percentage:{1:1.2f}%".format(2,45.5665))

ID:  12, Percentage:75.566500%
ID: 112, Percentage:45.57%
ID:125, Percentage:75.566500%
ID:2, Percentage:45.57%

In [41]:
name="Tom"
age=24
score=80.4

In [42]:
print(f"Hi this is {name}, he is {age} years old and his score is {score}")

Hi this is Tom, he is 24 years old and his score is 80.4

In [ ]:
#if-else syntax
if condition:
    print True
else:
    print False
    
print RestStatements

In [47]:
score=86
if score>50:
    print("Passed")
else:
    print("Fail")

Passed

In [48]:
score=45
if score>50:
    print("Passed")
else:
    print("Fail")

Fail

In [49]:
score=86
if score>50:
    print("Passed")
    print(f"Your Score is {score}")
else:
    print("Fail")
    print("Better Luck Next Time")
    
print("Thanks for Visiting")

Passed
Your Score is 86
Thanks for Visiting

In [51]:
password = input("Enter Your Password")
print(f"Your Password is {password}")

Enter Your Passwordpassword
Your Password is password

In [53]:
score = input("Your Score: ") # or score = int(input("Your Score: "))
if int(score)>50:
    print("Pass")
else:
    print("Fail")

Your Score: 60
Pass

In [54]:
score = int(input("Your Score: "))
'    if score>80:
        print("Grade A")
    elif score> 70:
        print("Grade B")
    elif score>50:
        print("Grade C")
    else:
        print("Failed")'

Your Score: 75
Grade B

In [55]:
counter=1
while counter<10:
    print(counter)
    counter+= 1
print('EOL')

1
2
3
4
5
6
7
8
9
EOL

In [ ]:
#similar commands
counter+= 1
counter = counter+1

In [56]:
password="jailbreak"
message=""
while message!=password:
    message = input("Please enter your password: ")

Please enter your password: hi
Please enter your password: hello
Please enter your password: jailbreak

In [57]:
password="jailbreak"
message="blink"
message!=password

True

In [58]:
password="jailbreak"
message="blink"
message==password

False

In [59]:
type(True)

bool

In [68]:
#need to be refined
counter = 3
message = "hello"
while counter>0:
    password = input("Enter Password: ")
    if message==password:
        print("Logged IN")
        break
    else:
        counter = counter-1
        print(f"You have {counter} attempts left")
        if counter>0:
            password = input("Enter the correct password: ")
            break

Enter Password: hi
You have 2 attempts left
Enter the correct password: hola

In [62]:
#correct
password = input("Enter initial password: ")
counter = 3
while(i>0):
    passs = input("Enter password: ")
    if passs == password:
        print("Accepted")
        i=0
    else:
        i = i-1
        print("Declined")

Enter initial password: Hi
Enter password: hola
Declined
Enter password: hello
Declined
Enter password: bye
Declined

In [65]:
#sir code
password = "abc"
a = 0
while True:
    message = input("Enter password: ")
    if(message==password):
        print("Correct Password!")
        break
    else:
        a+=1
        print(f'{3-a} attempt/s left')
        if a>=3:
            print('3 attempts over. Try again later')
            break

Enter password: abc
Correct Password!

In [ ]:
#need to check
i=0
psd="Password"
while(i<3):
    print("atempt no.:",i+1)
    password=input("Enter the password:")
    if(password==psd):
        print("You are Logined")
        break;
    i=i+1
    print("Wrong Password!")

In [69]:
a = [1,2,3]
a = b

In [70]:
a is b

True

In [81]:
c=[2,3]
d=c[:]

In [82]:
c is d

False

In [73]:
range(10)

range(0, 10)

In [75]:
for y in range(10):
    print(y)
print("EOL")

0
1
2
3
4
5
6
7
8
9
EOL

In [76]:
for y in range(3,10):
    print(y)

3
4
5
6
7
8
9

In [77]:
for y in range(3,10,2):
    print(y)

3
5
7
9

In [83]:
for x in range(1,11):
    print(x**2)

1
4
9
16
25
36
49
64
81
100

In [ ]:
#datatypes

In [91]:
a = [] #list

In [92]:
type(a)

list

In [95]:
#gives info about a
?a

In [ ]:
#working in case of list
a[start:end:step]

In [96]:
a = ['one','two',3,'four']

In [97]:
print(a)

['one', 'two', 3, 'four']

In [98]:
a[0]

'one'

In [99]:
a[-4]

'one'

In [100]:
a[-1]

'four'

In [102]:
a[:3]

['one', 'two', 3]

In [103]:
a[0:3:2]

['one', 3]

In [104]:
a[:3:2]

['one', 3]

In [101]:
a[::2]

['one', 3]

In [105]:
a[:]

['one', 'two', 3, 'four']

In [106]:
a[2] = "three"

In [107]:
a

['one', 'two', 'three', 'four']

In [108]:
c = "five"
a.append(c)

In [109]:
a

['one', 'two', 'three', 'four', 'five']

In [110]:
a.insert(2,'two and half')

In [111]:
a

['one', 'two', 'two and half', 'three', 'four', 'five']

In [112]:
del a[5]

In [113]:
a

['one', 'two', 'two and half', 'three', 'four']

In [114]:
b = a.pop()

In [115]:
b

'four'

In [116]:
a

['one', 'two', 'two and half', 'three']

In [122]:
a.sort()
a

['one', 'three', 'two', 'two and half']

In [123]:
a.reverse()
a

['two and half', 'two', 'three', 'one']

In [120]:
len(a)

4

In [121]:
len('howlongami')

10

In [124]:
temp = "howlongami"

In [125]:
temp[3::3]

'lgi'

In [126]:
num=range(11)

In [127]:
min(num)

0

In [128]:
max(num)

10

In [129]:
sum(num)

55

In [130]:
sum(range(100000))

4999950000

In [131]:
names = ['Amar','Akbar','Anthony']

In [133]:
for name in names:
    print(f"Hi {name}, how are you?")

Hi Amar, how are you?
Hi Akbar, how are you?
Hi Anthony, how are you?

In [134]:
#same memory location means any action on names will also change other_names
other_names = names

In [135]:
print(other_names)

['Amar', 'Akbar', 'Anthony']

In [137]:
names.append('Mark')

In [138]:
print(names)

['Amar', 'Akbar', 'Anthony', 'Mark']

In [139]:
print(other_names)

['Amar', 'Akbar', 'Anthony', 'Mark']

In [140]:
other_names.append('Nick')

In [141]:
print(names)
print(other_names)

['Amar', 'Akbar', 'Anthony', 'Mark', 'Nick']
['Amar', 'Akbar', 'Anthony', 'Mark', 'Nick']

In [142]:
#deep copy means different memory locations so changes in new names will not affect names and vice versa
new_names = names[:]

In [144]:
print(new_names)

['Amar', 'Akbar', 'Anthony', 'Mark', 'Nick']

In [145]:
new_names.append("Nolan")

In [146]:
print(names)
print(new_names)

['Amar', 'Akbar', 'Anthony', 'Mark', 'Nick']
['Amar', 'Akbar', 'Anthony', 'Mark', 'Nick', 'Nolan']

In [147]:
a = "Audi"
b = "audi"

In [148]:
a.upper()

'AUDI'

In [149]:
b.lower()

'audi'

In [166]:
b.title()

'Audi'

In [150]:
a.lower() == b.lower()

True

In [151]:
c = "bmw"

In [152]:
a == c

False

In [153]:
a != c

True

In [154]:
d = "Audi"

In [155]:
a.lower() == b.lower() and a.lower() == c.lower()

False

In [156]:
a.lower() == b.lower() or a.lower() == c.lower()

True

In [157]:
c.lower() == b.lower() or a.lower() == c.lower()

False

In [158]:
names

['Amar', 'Akbar', 'Anthony', 'Mark', 'Nick']

In [159]:
#in function
"Tom" in names

False

In [160]:
check = "Bob"
check in names

False

In [161]:
#not in function
"Bob" not in names

True

In [162]:
"Mark" in names

True

In [163]:
selected_name = "Nick"

In [168]:
if selected_name in names:
    print(f"Congrats, {selected_name} is in the list")
else:
    print(f"Sorry, {selected_name} is not in the list")

Congrats, Nick is in the list

In [173]:
multi_names = ['Amar','Jackie','Mark','Harry','James']

In [174]:
names

['Amar', 'Akbar', 'Anthony', 'Mark', 'Nick']

In [178]:
#incorrect need to correct it
for name in multi_names:
    if name in names:
        print(f"Congrats, {selected_name} you can enter")
    else:or
        print(f"Sorry, {selected_name} you cannot enter")

Congrats, Nick you can enter
Sorry, Nick you cannot enter
Congrats, Nick you can enter
Sorry, Nick you cannot enter
Sorry, Nick you cannot enter

In [176]:
invited = ['Amar', 'Akbar', 'Anthony', 'Mark', 'Nick']
 
entered = ['Nick', 'Jack', 'Amar']
 
for name in entered:
    if name in invited:
        print(f"Hi {name}, you can enter")
    else:
        print(f"Hi {name}, you cannot enter")

Hi Nick, you can enter
Hi Jack, you cannot enter
Hi Amar, you can enter

In [179]:
#tuple
#tuples are immutable means value cannot be changed whereas list are mutable
car_names = ('Audi','Ferrari','BMW')

In [180]:
type(car_names)

tuple

In [181]:
car_names[0]

'Audi'

In [182]:
car_names[1:]

('Ferrari', 'BMW')

In [183]:
#this will give error
car_names[0]= 'Jaguar'

TypeError: 'tuple' object does not support item assignment

In [184]:
car_names = ('Maruti', 'Suzuki', 'Fiat', 'Tata')

In [185]:
#unpacking
a,b,c,d = car_names

In [187]:
print(a)
print(b)
print(c)
print(d)

Maruti
Suzuki
Fiat
Tata

In [189]:
print(f"Before: a is {a}")
print(f"Before: b is {b}")
      
temp = a
a = b
b = temp
      
print(f"After: a is {a}")
print(f"After: b is {b}")

Before: a is Maruti
Before: b is Suzuki
After: a is Suzuki
After: b is Maruti

In [190]:
print(f"Before: a is {a}")
print(f"Before: b is {b}")
      
a,b = b,a
      
print(f"After: a is {a}")
print(f"After: b is {b}")

Before: a is Suzuki
Before: b is Maruti
After: a is Maruti
After: b is Suzuki

In [191]:
a,b

('Maruti', 'Suzuki')

In [ ]:
#dictionary

In [193]:
dic = {
    'key':'value',
    'key1':'value1'
}

In [194]:
fav_books = {
    'jack' : 'Lord of the Rings',
    'nick' : 'Trial',
    'prince' : 'My name is Red',
    'tom' : 'AOT' 
}

In [195]:
type(fav_books)

dict

In [197]:
fav_books['jack']

'Lord of the Rings'

In [200]:
print(f"Fav book of Nick is {fav_books['nick']}")

Fav book of Nick is  Trial

In [201]:
fav_books.keys()

dict_keys(['jack', 'nick', 'prince', 'tom'])

In [202]:
fav_books.values()

dict_values(['Lord of the Rings', ' Trial', 'My name is Red', 'AOT'])

In [203]:
fav_books.items()

dict_items([('jack', 'Lord of the Rings'), ('nick', ' Trial'), ('prince', 'My name is Red'), ('tom', 'AOT')])

In [204]:
len(fav_books)

4

In [205]:
for fav_book in fav_books.keys():
    print(fav_book)

jack
nick
prince
tom

In [206]:
for fav_book in fav_books.values():
    print(fav_book)

Lord of the Rings
 Trial
My name is Red
AOT

In [207]:
for fav_book in fav_books.items():
    print(fav_book)

('jack', 'Lord of the Rings')
('nick', ' Trial')
('prince', 'My name is Red')
('tom', 'AOT')

In [210]:
for reader,book in fav_books.items():
    print(f'{reader} reads {book}')

jack reads Lord of the Rings
nick reads  Trial
prince reads My name is Red
tom reads AOT

In [211]:
fav_multi_books = {
    'jack' :['LOTR', 'AOT', 'The Dark Tower'],
    'nick' :['POTR', 'BOT', 'The Light Tower'],
    'prince':['My name is Red']
}

In [ ]:
#incomplete
for reader,book in fav_books.items():
    print(f'{reader} reads {book}')

In [214]:
user = {
    'first':{
        'name' : 'Jim',
        'age' : '20'
    },
    'second':{
        'name' : 'Tom',
        'age' : '21'
    },
    'three':{
        'name' : 'Bob',
        'age' : '22'
    }
}

In [216]:
user['first']['age']

'20'

In [217]:
user['second']

{'name': 'Tom', 'age': '21'}

In [218]:
#functions
def greet():
    print('Hi u ran a function')

In [219]:
greet()

Hi u ran a function

In [220]:
def greet(user):
    print(f'Hi {user} u ran a function')

In [222]:
greet('Tom')

Hi Tom u ran a function

In [223]:
def fav_book(user,book):
    print(f'{user} likes to read {book}')

In [225]:
fav_book('Tom','Harry Porter')

Tom likes to read Harry Porter

In [227]:
fav_book(book='AOT',user='John')

John likes to read AOT

In [228]:
def add(a,b,c):
    return a+b+c

In [229]:
add(1,2,3)

6

In [230]:
def div(a,b=1):
    return a/b

In [231]:
div(6,3)

2.0

In [232]:
div(4)

4.0

In [233]:
def add(*values):
    total=0
    for value in values:
        total = total + value
    return total
    total = total * 2

In [234]:
add()

0

In [235]:
add(1,8)

9

In [236]:
add(1,2,3)

6

In [237]:
add(1,3,5,6,7,8,10)

40

In [241]:
def menu():
    print ("1: Addition")
    print ("2: Multiplication")
    return input ("Choose your option: ")
    
def add(*values):
    total=0
    for value in values:
        total = total + value
    return total
    
    
def mul(*values):
    total=1
    for value in values:
        total = total * value
    return total

In [242]:
menu()

1: Addition
2: Multiplication
Choose your option: 1

'1'

In [252]:
def operator(op, *val):
    if (op == "+"):
        total=0
        for value in val:
            total = total + value
        return total
    elif (op == '*'):
        total=1
        for value in val:
            total = total * value
        return total
    else:
        print("Incorrect Operator")

In [250]:
operator('+',1,2,3)

6

In [253]:
operator('*',2,3)

6

In [255]:
#lambda function
l_sqr = lambda x:x**2

In [256]:
l_sqr(9)

81

In [257]:
sqradd = lambda x,y:(x**2)+(y**2)

In [258]:
sqradd(1,2)

5

In [259]:
sqradd = lambda x,y=3:(x**2)+(y**2)

In [260]:
sqradd(1)

10

In [261]:
sqradd = lambda x=1,y=3:(x**2)+(y**2)

In [262]:
sqradd()

10

In [263]:
(lambda x:x**2)(9)

81

In [269]:
#unanimous function
lambda x,y:(x**2)+(y**2)

In [270]:
#only first execution is callable else it gives error
_(1,4)

17

In [271]:
def fun2(x):
    return x**4

def fun3(x):
    return x**2

def fun1(y):
    return y + fun2(y) + fun3(y)

In [272]:
fun1(3)

93

In [273]:
lfun = lambda y,fun1,fun2:y+fun1(y)+fun2(y)

In [274]:
lfun(3,lambda x:x**4, lambda x:x**2)

93

In [275]:
sqr = lambda x:x**2

In [276]:
#apply 1 function to list of numbers
map(sqr,[1,2,3,4,5])

In [278]:
list(map(sqr,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [280]:
for i in map(sqr,[1,2,3,4,5]):
    print (i)

1
4
9
16
25

In [281]:
from functools import reduce

In [282]:
factorial = lambda x,y:x*y

In [283]:
#1 2 3 4 5
#2 3 4 5   1*2
#6 4 5     2*3
#24 5      6*4
#120       24*5
reduce(factorial,[1,2,3,4,5])

120

In [284]:
num = [1,2,-3,4,-5,-6]

In [285]:
neg = list(filter(lambda x:x<0,num))

In [286]:
neg

[-3, -5, -6]

In [287]:
pos = list(filter(lambda x:x>0,num))

In [288]:
pos

[1, 2, 4]

In [297]:
def fibo(n):
    if n<=1:
        return n
    else:
        return (fibo(n-1) + fibo(n-2))

In [298]:
fibo(3)

2

In [299]:
fibo(5)

5

In [300]:
fibo(6)

8

In [304]:
import pandas as pd
import os
import numpy as np

In [305]:
pd.__version__

'1.0.5'

In [306]:
d = {
    '01':'Thor',
    '02':'Iron Man',
    '03':'Peter',
    '04':'Mary'
}

In [307]:
#helps us to label the positions as well
s = pd.Series(d)

In [316]:
#keys in series
s.index

Index(['01', '02', '03', '04'], dtype='object')

In [308]:
s['01']

'Thor'

In [309]:
s[0]

'Thor'

In [310]:
data = {
    'apples':[3,2,0,1],
    'oranges':[0,3,5,9]
}

In [311]:
df = pd.DataFrame(data)

In [312]:
df

   apples  oranges
0       3        0
1       2        3
2       0        5
3       1        9

In [313]:
df = pd.DataFrame(data,index=['June','Robert','Lily','Tom'])

In [314]:
df

        apples  oranges
June         3        0
Robert       2        3
Lily         0        5
Tom          1        9

In [322]:
df = pd.read_excel(r'gapminder_full.xlsx')

In [324]:
df.head()

   index      country  year  population  life exp     gdp_cap
0   1001  Afghanistan  1952   8425333.0    28.801  779.445314
1   1002  Afghanistan  1957   9240934.0       NaN  820.853030
2   1003  Afghanistan  1962  10267083.0    31.997  853.100710
3   1004  Afghanistan  1967  11537966.0    34.020  836.197138
4   1005  Afghanistan  1972  13079460.0    36.088  739.981106

In [321]:
os.getcwd()

'C:\\Users\\vivek\\Desktop\\STUDY\\SEM2\\Python'

In [325]:
df.tail()

     index country  year  population  life exp     gdp_cap
558   1559  Gambia  1982    715523.0    45.580  835.809611
559   1560  Gambia  1987    848406.0    49.265  611.658861
560   1561  Gambia  1992   1025384.0    52.644  665.624413
561   1562  Gambia  1997   1235767.0    55.861  653.730170
562   1563  Gambia  2002   1457766.0    58.041         NaN

In [326]:
df.describe()

             index         year    population    life exp       gdp_cap
count   563.000000   563.000000  5.540000e+02  560.000000    561.000000
mean   1282.000000  1979.451155  3.330479e+07   58.048871   6422.406490
std     162.668374    17.251923  1.363789e+08   13.221576   7679.207799
min    1001.000000  1952.000000  6.314900e+04   28.801000    241.165876
25%    1141.500000  1964.500000  2.932868e+06   46.671500   1102.990936
50%    1282.000000  1977.000000  6.774374e+06   57.228500   3326.143191
75%    1422.500000  1992.000000  1.461946e+07   70.652500   8224.191647
max    1563.000000  2007.000000  1.318683e+09   81.235000  36319.235010

In [327]:
df.columns

Index(['index', 'country', 'year', 'population', 'life exp', 'gdp_cap'], dtype='object')

In [328]:
df.index

RangeIndex(start=0, stop=563, step=1)

In [329]:
df.count()

index         563
country       563
year          563
population    554
life exp      560
gdp_cap       561
dtype: int64

In [330]:
df.set_index("index",inplace=True)

In [332]:
df.head()

           country  year  population  life exp     gdp_cap
index
1001   Afghanistan  1952   8425333.0    28.801  779.445314
1002   Afghanistan  1957   9240934.0       NaN  820.853030
1003   Afghanistan  1962  10267083.0    31.997  853.100710
1004   Afghanistan  1967  11537966.0    34.020  836.197138
1005   Afghanistan  1972  13079460.0    36.088  739.981106

In [333]:
df1 = pd.read_excel(r'gapminder_full.xlsx',sheet_name='data1',index_col="index")
df2 = pd.read_excel(r'gapminder_full.xlsx',sheet_name=1,index_col=0)

In [334]:
df1['population']

index
1001     8425333.0
1002     9240934.0
1003    10267083.0
1004    11537966.0
1005    13079460.0
           ...
1559      715523.0
1560      848406.0
1561     1025384.0
1562     1235767.0
1563     1457766.0
Name: population, Length: 563, dtype: float64

In [335]:
df1.population

index
1001     8425333.0
1002     9240934.0
1003    10267083.0
1004    11537966.0
1005    13079460.0
           ...
1559      715523.0
1560      848406.0
1561     1025384.0
1562     1235767.0
1563     1457766.0
Name: population, Length: 563, dtype: float64