### Importing Libraries and Dataset

In [24]:
import numpy as np
import pandas as pd
import pulp as pp

In [25]:
product = pd.read_excel('Product_Data.xlsx')
resource = pd.read_excel('Resource_data.xlsx')

In [26]:
product

        Item  Selling_Price  labor  metal  wood
0      desks             94      2      1     3
1     chairs             79      1      1     3
2  bookcases            125      3      1     4
3  bedframes            109      2      1     4

In [37]:
resource

  Resource  Cost  Amount_Available
0    labor    14               225
1    metal    20               117
2     wood    11               420

### Using PuLP package for solving Linear Programming Problem 
### Setting Objective Sense to Maximization

In [28]:
NetProfit = pp.LpProblem('Problem',pp.LpMaximize)

### Initializing lower bound for all the set of items

In [29]:
Desk = pp.LpVariable('Desk',lowBound=0)
Chair = pp.LpVariable('Chair',lowBound=0)
Bookcase = pp.LpVariable('Bookcase',lowBound=0)
Bedframe = pp.LpVariable('Bedframe',lowBound=0)

### Extracting the values from the dataset and forming the corresponding equation

In [30]:
labor = (product.loc[0,'labor']*Desk + product.loc[1,'labor']*Chair 
         + product.loc[2,'labor']*Bookcase + product.loc[3,'labor']*Bedframe)

metal = (product.loc[0,'metal']*Desk + product.loc[1,'metal']*Chair 
         + product.loc[2,'metal']*Bookcase + product.loc[3,'metal']*Bedframe)

wood = (product.loc[0,'wood']*Desk + product.loc[1,'wood']*Chair 
        + product.loc[2,'wood']*Bookcase + product.loc[3,'wood']*Bedframe)

### Setting the Objective Function NetProfit obtained by difference of Selling and Cost Price

In [31]:
NetProfit += (product.loc[0,'Selling_Price']*Desk + product.loc[1,'Selling_Price']*Chair 
              + product.loc[2,'Selling_Price']*Bookcase + product.loc[3,'Selling_Price']*Bedframe) 
- (resource.loc[0,'Cost']*labor + resource.loc[1,'Cost']*metal + resource.loc[2,'Cost']*wood)

### Setting the appropriate constraints

In [32]:
NetProfit += labor <= 225
NetProfit += metal <= 117
NetProfit += wood <= 420

### Printing the problem

In [33]:
print(NetProfit)

Problem:
MAXIMIZE
17*Bedframe + 19*Bookcase + 12*Chair + 13*Desk + 0
SUBJECT TO
_C1: 2 Bedframe + 3 Bookcase + Chair + 2 Desk <= 225

_C2: Bedframe + Bookcase + Chair + Desk <= 117

_C3: 4 Bedframe + 4 Bookcase + 3 Chair + 3 Desk <= 420

VARIABLES
Bedframe Continuous
Bookcase Continuous
Chair Continuous
Desk Continuous

### Status of our LP Problem

In [34]:
status = NetProfit.solve()
print(pp.LpStatus[status])

Optimal

### Final Optimized Solution

In [36]:
print("Optimized Values Are:")
print("----------------------")
print("Desk: ",pp.value(Desk))
print("Chair: ",pp.value(Chair))
print("Bookcase: ",pp.value(Bookcase))
print("Bedframe: ",pp.value(Bedframe))
print("labor: ",pp.value(labor))
print("metal: ",pp.value(metal))
print("wood: ",pp.value(wood))
print("Objective: ",pp.value(z.objective))

Optimized Values Are:
----------------------
Desk:  0.0
Chair:  48.0
Bookcase:  39.0
Bedframe:  30.0
labor:  225.0
metal:  117.0
wood:  420.0
Objective:  1827.0